<div class="page-title">
    <div class="title_left">
      <h3>Product Category</h3>
    </div>
  
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" name="filter" [(ngModel)]="filter" (keyup.enter)="onLoad()" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="onLoad()">Search!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
  
    <div class="clearfix"></div>
  
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="onShowAddModal()">Add new</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
  
        <tree-root #treeProductCategory [nodes]="productCategoryHierachy">
          <ng-template #treeNodeTemplate let-node let-index="index">
            <span class="root-tree-name">{{ node.data.Name }}</span>
            <button class="btn btn-xs btn-primary" (click)="onShowEditModal(node.data.ID)"> <i class="fa fa-pencil-square-o"  aria-hidden="true"></i></button>
            <button class="btn btn-xs btn-danger" (click)="onDeleteItem(node.data.ID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </ng-template>
        </tree-root>
      </div>
    </div>
  
  </div>

  <div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add new / Edit</h4>
          <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal form-label-left input_mask" novalidate #addEditForm="ngForm" (ngSubmit)="onSaveChange()"
            *ngIf="entity">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Category Name</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="hidden" [(ngModel)]="entity.ID" name="id" />
                <input type="text" #name="ngModel" (keypress)="onCreateAlias()" [(ngModel)]="entity.Name" required minlength="3" name="name" class="form-control" />
                <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="text-danger">
                  Category name is required and at least 3 characters
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Alias</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" #alias="ngModel" [(ngModel)]="entity.Alias" required minlength="3" name="alias" class="form-control" />
                <small [hidden]="alias.valid || (alias.pristine && !addEditForm.submitted)" class="text-danger">
                  Alias is required
                </small>
              </div>
            </div>
  
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea type="text" #name="ngModel" [(ngModel)]="entity.Description" name="description" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Display Order</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="number" #displayOrder="ngModel" [(ngModel)]="entity.DisplayOrder" required name="displayOrder" class="form-control"
                />
                <small [hidden]="displayOrder.valid || (displayOrder.pristine && !addEditForm.submitted)" class="text-danger">
                  Display order is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Display Order on Home</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="number" #homeOrder="ngModel" [(ngModel)]="entity.HomeOrder" required name="homeOrder" class="form-control" />
                <small [hidden]="homeOrder.valid || (displayOrder.pristine && !addEditForm.submitted)" class="text-danger">
                  Display order on home is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Picture</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="file" #image name="image" class="form-control">
                <p class="help-block label label-danger"> Only support for formats such as *.png, *.jpg, *.jpeg </p>
                <input type="hidden" [(ngModel)]="entity.Image" name="image" />
              </div>
  
              <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="entity.Image">
                <img [src]="entity.Image" width="128" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Parent Category</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select class="form-control" name="parentId" [(ngModel)]="entity.ParentId">
                   <option value="">--Selct parent category--</option>
                    <option *ngFor="let x of productCategories" [value]="x.ID">{{x.Name}}</option>
                  </select>
                <input type="hidden" [(ngModel)]="entity.ParentID" name="parentIdHidden" class="form-control" />
              </div>
            </div>
  
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Keyword</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" #metaKeyword="ngModel" [(ngModel)]="entity.MetaKeyword" name="keyword" class="form-control" />
  
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Description SEO</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" #metaDescription="ngModel" [(ngModel)]="entity.MetaDescription" required minlength="3" name="metaDescription"
                  class="form-control" />
                <small [hidden]="metaDescription.valid || (metaDescription.pristine && !addEditForm.submitted)" class="text-danger">
                    Description SEO is required
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="checkbox">
                  <label>
                     <input type="checkbox" [(ngModel)]="entity.Status" name="status" #status="ngModel"> Enable
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                     <input type="checkbox" [(ngModel)]="entity.HomeFlag" name="homeFlag" #status="ngModel"> Display Home
                  </label>
                </div>
              </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Cancel</button>
                <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid || isDisabledUpdateButton">Update</button>
              </div>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>