$primaryColor: '';
$lightPurple: '';
$textColor: '';
$white: #ffffff;
$black: #000000;
$red: #a4262c;
$grey10: #faf9f8;
$grey30: #edebe9;
$grey90: #a19f9d;
$grey110: #8a8886;
$grey130: #605e5c;
$grey190: #201f1e;
$grey160: #323130;